2*Introdução*Engenharia*Prompts/1*ecnicas*de*Engenharia*de*Prompt/captela/
2*Introdução*Engenharia*Prompts/2*Escrevendo*Prompts*Eficazes/captela/
2*Introdução*Engenharia*Prompts/3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/1UsoClassicoCopilotComentariosCodigo/captela
2*Introdução*Engenharia*Prompts/3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/2EngineeringMudandoGeração/captela
2*Introdução*Engenharia*Prompts/3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/2EngineeringMudandoGeração/docs
3*Boas*Práticas*Desenvolvimento*Software/2*Trabalhando*Design*Patterns*Aplicações*Java/captela
3*Boas*Práticas*Desenvolvimento*Software/4*SOLID*e*Clean*em*Java*Codigo*Alta*Qualidade/1*Entendendo*SOLID/captela
3*Boas*Práticas*Desenvolvimento*Software/4*SOLID*e*Clean*em*Java*Codigo*Alta*Qualidade/2*Refatorando*Código/captela
