1*ecnicas*de*Engenharia*de*Prompt/captela/
2*Escrevendo*Prompts*Eficazes/captela/
3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/1UsoClassicoCopilotComentariosCodigo/captela
3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/2EngineeringMudandoGeração/captela
3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/2EngineeringMudandoGeração/docs