2*Introdução*Engenharia*Prompts/1*ecnicas*de*Engenharia*de*Prompt/captela/
2*Introdução*Engenharia*Prompts/2*Escrevendo*Prompts*Eficazes/captela/
2*Introdução*Engenharia*Prompts/3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/1UsoClassicoCopilotComentariosCodigo/captela
2*Introdução*Engenharia*Prompts/3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/2EngineeringMudandoGeração/captela
2*Introdução*Engenharia*Prompts/3*Bases*de*Prompt*Engineering*para*o*GitHub*Copilot/2EngineeringMudandoGeração/docs